<!doctype html>
<html>
  <%= partial 'partials/head' %>
  <body>
    <%= partial 'partials/header' %>
    
    <%= yield %>

    <footer>

    </footer>

    <%= javascript_include_tag :jquery %>
    <%= javascript_include_tag :foundation %>
    <%= javascript_include_tag :mixitup %>

    <script>
      $(document).foundation();
    </script>

    <%= javascript_include_tag :all %>

    
  </body>
</html>
