---
title: Udruga Rea | Udomi
---
<section class="udomi">
	<div class="expanded row title">
		<div class="columns">
			<h2 class="text-center">Udomi</h2>
		</div>
	</div>
	<div class="row align-center">
		<div class="small-12 columns">
			<p>
				Maecenas sed diam eget risus varius blandit sit amet non magna. Nullam quis risus eget urna mollis ornare vel eu leo. Curabitur blandit tempus porttitor. Donec id elit non mi porta gravida at eget metus. Curabitur blandit tempus porttitor. Maecenas sed diam eget risus varius blandit sit amet non magna. Nullam quis risus eget urna mollis ornare vel eu leo. Curabitur blandit tempus porttitor. Donec id elit non mi porta gravida at eget metus. Curabitur blandit tempus porttitor.
			</p>
		</div>
		<div class="shrink columns">
			<div class="button-group">
				<a class="button filter" data-filter="all">Sve životinje</a>
				<a class="button filter" data-filter=".pas">Psi</a>
				<a class="button filter" data-filter=".mačka">Mačke</a>
			</div>
		</div>
	</div>
	<div class="row" id="udomi">
		<% blog('udomi').articles.each do |article| %>
		<a href="<%= article.url %>">
			<div class="small-12 medium-6 large-4 bottom-margin columns mix <%= article.data.category %>">
				<div class="item">
					<img src="<%= article.data.thumbnail %>" alt="<%= article.title %>" class="thumbnail">
					<div class="row text-center info align-middle">
						<div class="small-12 columns">
							<a href="<%= article.url %>" class="ime"><%= article.title %></a>
						</div>
						<div class="small-12 columns text-left">

							<% if article.data.kastracija %>
							<span class="kastracija">Kastracija: <i class="fa fa-check" aria-hidden="true"></i></span>
							<% else %>
							<span class="kastracija">Kastracija: <i class="fa fa-times" aria-hidden="true"></i></span>
							<% end %>


							<% if article.data.friendliness == true %>
							<span class="friendliness">Može s drugim životinjama: <i class="fa fa-check" aria-hidden="true"></i></span>

							<% elsif article.data.friendliness == "unknown" %>
							<span class="friendliness">Može s drugim životinjama: <span class="float-right">--</span></span>

							<% elsif article.data.friendliness == false %>
							<span class="friendliness">Može s drugim životinjama: <i class="fa fa-times" aria-hidden="true"></i></span>

							<% else %>
							<% end %>


							<span class="starost">Starost: <spa class="float-right"n><%= article.data.starost %></span></span>
							</div>
						</div>
					</div>
				</div>
			</a>
			<% end %>
		</div>
	</section>
